:root{
    --gray-900: #F3F3F3;
    --gray-500: #9E9E9E;

    --purple-500: #6154F0;

    --green-500: #1ECB4F;

    --text-900: #9E9E9E;
    --text-100: #1A1A1A;

    --orange-700: #FF8D4D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
}

.container{
    height: 100%;
    display: flex;
}

.aside-container{
    height: 100%;
    background-color: var(--gray-900);
    padding: 2rem 3.3125rem 0 2.5rem;
}

.aside-header{
    display: flex;
    gap: 0.625rem;
    margin: 0 0 3.9375rem 0;
}

.aside-title{
    font-size: 1.3125rem;
    font-weight: 700;

}

.aside-menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu-item{
    display: flex;
    gap: 1.25rem;
    align-items: center;
    text-decoration: none;
    color: var(--gray-500);
    font-size: 0.875rem;
    line-height: 1.3125rem;
    transition: color 0.2s ;
}
.menu-item:hover{
    color: var(--purple-500)
}

.selected{
    color: var(--purple-500);
    font-weight: 600;
}
.selected img{
    filter: invert(37%) sepia(67%) saturate(5337%) hue-rotate(235deg) brightness(98%) contrast(93%); 
    /* Purple color, refers to Var (--purple-500), HEX Code: #6154F0 */
}
.selected::after{
    content: "●";
    margin: 0 0 0 3.375rem;
}

.main-container{
    display: flex;
    flex-direction: column;
    padding: 4rem 2.6875rem;
}

.main-header{
    display: flex;
}

.main-resume-coins{
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
    max-width: 40rem;
}

.card-coin{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header-coin{
    display: flex;
    justify-content: space-between;
}

.header-side{
    display: flex;
    align-items: center;
    gap: 0.625rem;
    font-weight: 500;
    line-height: 1.403125rem;
    font-size: 0.875rem;
    color: var(--green-500);
    margin: 0 0 0 3.8125rem;
}
.down{
    color: var(--orange-700) !important;
}

.footer-coint{
    display: flex;
    flex-direction: column;
}

.price-coin{
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2.625rem;
    color: var(--text-100);
}

.name-coin{
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: var(--text-900);
}

.chart-container{
    width: 33.375rem;
    height: 18.625rem;
}

.title-live-market{
    display: flex;
    color: var(--text-100);
    font-size: 1.3125rem;
    font-weight: 600;
    line-height: 2rem;
    margin: 2rem 0 1.625rem;
}

.item-live-market{
    display: flex;
    gap: 3.875rem;
    margin: 0 0 2rem;
}

.item-live-head{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.item-live-market-title-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: var(--text-900);
}
.item-live-market-name-coin{
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--text-100);
    opacity: 0.8;
}

.item-live-market-change-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    color: var(--green-500);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5rem;
    opacity: 0.8;
}
.item-live-market-subtitle{
    font-size: 0.75rem;
    color: var(--text-900);
    line-height: 1.125rem;
    letter-spacing: 0.02rem;
    font-weight: 400;
}

.item-live-market-price-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    letter-spacing: 0.02rem;
    color: var(--text-100);
    opacity: 0.8;
}

.miniChartContainer{
    width: 10.125rem;
    height: 4rem;
}